<footer class="footer-wrapper d-flex flex-row justify-content-between">
  <button type="button" class="btn btn-primary nav-btn fik-muted-cl">
    <img class="btn-img" src="../../../assets/vectors/group.svg">
    <span class="btn-label">All Categories</span>
  </button>
  <button type="button" class="btn btn-primary nav-btn fik-muted-cl">
    <img class="btn-img" src="../../../assets/vectors/home.svg">
    <span class="btn-label">Home</span>
  </button>
  <button type="button" class="btn btn-primary nav-btn fik-muted-cl">
    <img class="btn-img" src="../../../assets/vectors/business.svg">
    <span class="btn-label">Business</span>
  </button>
  <button type="button" class="btn btn-primary nav-btn fik-muted-cl">
    <img class="btn-img" src="../../../assets/vectors/camera.svg">
    <span class="btn-label">Photography</span>
  </button>
  <button type="button" class="btn btn-primary nav-btn fik-muted-cl">
    <img class="btn-img" src="../../../assets/vectors/book.svg">
    <span class="btn-label">Lessons</span>
  </button>
  <button type="button" class="btn btn-primary nav-btn fik-muted-cl">
    <img class="btn-img" src="../../../assets/vectors/theater.svg">
    <span class="btn-label">Entertainment</span>
  </button>
</footer>
