<app-header>
  <app-navbar></app-navbar>
</app-header>
<section>
  <div class="hero-bg">
    <img class="hero-img" [src]="heroImagePath" />
  </div>
  <div class="content-grid">
    <div>
      <div class="label mb-5">
        <h1>Find Reliable & Verified<br />Home Service Providers<span class="fik-blue-cl">.</span></h1>
      </div>
      <div class="content-max mb-4">
        <app-search [placeholder]="'What service you need'" [buttonLabel]="'Find Service'"></app-search>
      </div>
      <div class="content-max">
        <app-search-chips></app-search-chips>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
