.hero-block {
  position: relative;
}

.hero-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 994px;
  overflow: hidden;
  background-image: linear-gradient(221deg, #fcfaf7, #f8f2ec);
}

.hero-image {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 805px;
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.hero-content-grid {
  position: relative;
  max-width: 1440px;
  width: 90%;
  padding-top: 8rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
}

.hero-label {
  width: fit-content;
  margin: auto;
}

.search-wrapper {
  max-width: 490px;
  width: 100%;
  margin: auto;
}

// Media queries
@media (min-width: 568px) {
  .hero-image {
    width: 50%;
  }

  .hero-content-grid {
    padding-top: 7rem;
    grid-template-columns: 62%;
  }

  .hero-label {
    margin: 0;
  }

  .search-wrapper {
    width: 92%;
    margin: initial;
  }
}

// @media (min-width: 576px) {
// }

@media (min-width: 768px) {
  .hero-content-grid {
    padding-top: 9rem;
  }
}

@media (min-width: 992px) {
  .hero-content-grid {
    padding-top: 12rem;
  }
}

// @media (min-width: 1200px) {
// }
