<app-header>
  <app-navbar></app-navbar>
</app-header>
<section class="hero-block">
  <div class="hero-background">
    <img class="hero-image" [src]="heroImagePath" />
  </div>
  <div class="hero-content-grid">
    <div class="grid-item">
      <div class="hero-label mb-5">
        <h1>Find Reliable & Verified<br /> Home Service Providers<span class="fik-blue-cl">.</span></h1>
      </div>
      <div class="search-wrapper mb-4">
        <app-search [placeholder]="'What service you need'" [buttonLabel]="'Find Service'"></app-search>
      </div>
      <div class="search-chips-wrapper">
        <app-search-chips></app-search-chips>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
