@import "../../../assets/fiksar-theme/variables.scss";

.search-container {
  position: relative;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);

  &::before {
    content: "";
    background-image: url("../../../assets/vectors/path.svg");
    position: absolute;
    z-index: 100000;
    left: 14px;
    top: 16px;
    width: 16px;
    height: 16px;
    display: block;
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }
}

.search-container input {
  border: none;
  padding: 24px 46px;
  z-index: 1;
  caret-color: $fiksarBlue;
}

.search-container .search-btn {
  background-color: $fiksarBlue;
  color: $white;

  &::before {
    content: "";
    background-image: url("../../../assets/vectors/format-paint-material.svg");
    position: absolute;
    z-index: 100000;
    left: -34px;
    top: 16px;
    width: 16px;
    height: 16px;
    display: block;
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }
}
